.fondo-categoria {
    background-image: url(../bannerBeers.png);
    background-size: cover;
    background-position: center;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.tituloh2 {
    display: flex;
    justify-content: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.linkBtn {
    margin: 40px;
    text-decoration: none;
    background-color: #a1110c;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 5px;   
    border: none;
    padding: 10px 20px;
}

.linkBtn:hover {
    background-color: #79120e;
    color: #cccccc;
}


